nav {
    width: 100%;

    .ndiv {
        width: 100%;
        min-height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .nd1 {
            width: 10%;
            height: 75px;
            position: relative;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                font-size: 3.2rem;
                font-weight: 1000;
                color: black;
                position: absolute;
                z-index: 1;
            }

            .round {
                position: absolute;
                background-color: $ora;
                width: 30px;
                height: 30px;
                border-radius: 999999px;
                left: 30%;
            }
        }

        ul {
            width: 50%;
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 1.8rem;

            a {
                text-decoration: none;
                color: black;
                transition: color 0.5s ease;

                &:hover {
                    color: $ora;
                }
            }
        }

        .nd2 {
            width: 15%;
            height: 50px;
            background-color: $ora;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            padding-left: 5px;

            a {
                text-decoration: none;
                color: black;
            }

            &:hover {
                background-color: black;

                a {
                    color: $ora;
                }
            }
        }

        .nd3 {
            display: none;

            i {
                color: black;
                font-size: 4.5rem;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    nav {
        .ndiv {
            .nd2 {
                background-color: transparent;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        background-color: $lig;

        .ndiv {

            ul,
            .nd2 {
                display: none;

            }

            .nd3 {
                display: block;

            }
        }
    }
}